<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap CSS Link (Ensure this is included) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbasStyle.css}">
</head>
<body>

<!-- Barra de navegação -->

<!-- Navbar com os links para acessar as páginas -->
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark bg-navbar-custom py-0">
    <div class="container-fluid">

        <!-- Link para o home com uma imagem -->
        <a class="navbar-brand py-0" href="/home">
            <img th:src="@{/img/logo02.svg  }" alt="Logo MK Software" class="d-inline-block align-text-top">

        </a>

        <!-- Botão responsivo (hambúrguer) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links de navegação do navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <!-- Item para acessar a lista de usuários -->

                <li class="nav-item">
                    <a sec:authorize="hasAuthority('ADMINISTRADOR')"
                       class="nav-link"
                       href="/usuariolista">
                        Usuário
                    </a>
                    <a sec:authorize="hasAuthority('OPERADOR') and !hasAuthority('ADMINISTRADOR')" class="nav-link"
                       href="/perfil">
                        Perfil
                    </a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/produtolista">Produto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/estoquelista">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/historicolista">Histórico</a>
                </li>
            </ul>

            <!-- Área do usuário (exibe o dropdown ou o login dependendo da autenticação) -->
            <ul class="navbar-nav ms-auto">
                <!-- Se autenticado, exibe o dropdown com nome do usuário -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Olá, <span sec:authentication="principal.nome"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <form class="navbar-form" th:action="@{/logout}" method="post">
                                <button class="dropdown-item">SAIR</button>
                            </form>
                        </li>
                    </ul>
                </li>

                <!-- Se não autenticado, exibe o botão de login -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="btn btn-link nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- Bootstrap JS (ensure to include this) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
